html * {
	font-family: "Calibri";
}

body {
	background-color: rgb(0, 0, 175);
}

.title {
	font-size: 25px;
	line-height: 1px;
}

.site_name {
	font-size: 42px;
	font-style: oblique;
	line-height: 1px;
}

.site_slogan {
	font-size: 30px;
	font-style: oblique;
	line-height: 1px;
}

.site_header {
	border: 3px solid black;
	border-radius: 15px;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 15px;
	margin: 10px;
	width: 450px;
	background-color: white;
}

.search_bar {
	border: 3px solid black;
	border-radius: 15px;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 15px;
	padding-right: 15px;
	margin: 10px;
	width: 450px;
	background-color: white;
}