html * {
	font-family: "Calibri";
	color: white;
}

body {
	background-image: linear-gradient(to bottom, rgb(16, 78, 136), rgb(94, 128, 238));
	background-attachment: fixed;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(51, 51, 51);
	border: 3px solid black;
}

li {
	float: left;
}

li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: #111;
}

img{
	float: right;
}

.site_header {
	color: white;
}

.guide{
	list-style-type: decimal;
}

.textbox {
	float: left;
	background-color: rgb(51, 51, 51);
	color: white;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 3px solid black;
	border-bottom-left-radius: 25px;
	border-top-right-radius: 25px;
}